/* @media only screen and (max-width: 500px) { */
    * {
        font-family: "Trebuchet MS", sans-serif;
        text-align: center;
        color: #cdd8e8;
        border-radius: 15px;
        text-decoration: none;
    }

    body {
        background-color: #1e293b;
    }

    main {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 70px 15px 305px 15px 240px 15px 240px 20px 100px;
    }
    .a {
        color: rgb(0, 174, 255);
        text-decoration: underline;
    }
    .searchBar {
        background-color: #334155;
        border: 2px solid #5f708f;
        width: 70%;
        font-size: 80%;
        margin: auto;
        margin-top: 1.5%;
    }
    .shopMain {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 70px 15px 595px 15px 100px;
    }
    .comPage {
        background-color: #334155;
        border: 2px solid #5f708f;
        margin: 5px;
        display: grid;
        grid-template-rows: 30px 1fr;
    }
    .com {
        border: 2px solid #5f708f;
        margin: 3px;
    }
    .merchPage {
        background-color: #334155;
        border: 2px solid #5f708f;
        margin: 5px;
        display: grid;
        grid-template-rows: 30px 1fr;
    }
    .merchPageGrid {
        display: grid;
        grid-template: repeat(4, 1fr) / 1fr 1fr;
    }
    .merch {
        border: 2px solid #5f708f;
        margin: 1.5%;
    }
    .itemsPage {
        display: grid;
        grid-template-rows: 30px 500px;
        background-color: #334155;
        border: 2px solid #5f708f;
        margin: 5px;
    }
    .itemsScroll {
        border: 2px solid #5f708f;
        margin: 5px;
        overflow-y: scroll;
    }
    .itemBox {
        display: grid;
        grid-template-columns: 1fr 100px;
        border: 2px solid #5f708f;
        margin: 2%;
        height: 130px;
        padding: 1%;
    }
    .itemImg {
        object-fit: cover;
        width: 100%;
        max-height: 130px;
    }
    .merchImg {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }
    .profileMain {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 70px 15px 510px 15px 100px;
    }
    .profileMainPart {
        background-color: black;
    }
    .shopMainPart {
        display: grid;
        grid-template-rows: 55px 1fr;
        background-color: black;
    }
    .switchShop {
        display: grid;
        grid-template-columns: 25% 1fr 42% 1fr 25%;
        background-color: #334155;
        border: 2px solid #5f708f;
        margin: 5px;
    }
    .switchShopButton {
        background-color: #334155;
        border: 2px solid #5f708f;
        font-size: 20px;
    }
    .signUp {
        background-color: #334155;
        border: 2px solid #5f708f;
        height: 480px;
        margin: 3%;
        grid-template-rows: 60px 1fr;
    }
    .head {
        padding: 6px;
        display: grid;
        grid-template-columns: 70px 1fr 160px 1fr 70px;
        background-color: black;
        z-index: 1;
    }
    .menuButton {
        color: black;
        display: grid;
        grid-template-columns: 85px 10px 1fr;
        grid-column: 3/4;
        max-height: 30px;
        align-items: center;
    }
    .menu-text {
        display: flex;
        font-size: 33px;
        align-items: center;    
        text-shadow: 0.2vh 0.2vh #cdd8e8;
    }
    .button {
        display: flex;
        justify-content: center;
        max-height: 58px;
        padding: 5px;
        border-radius: 10px;
        color: black;
        font-size: 40px;
        background-color: #334155;
        box-shadow: 0.3vh 0.3vh #334155;
        border: 2px solid black;
        transition-duration: 0.7s;
    }
    .button:active {
        transform: translate(0.3vh, 0.3vh);
        box-shadow: none;
    }
    .quickLinkButton {
        width: 50%;
        height: 20%;
        border-radius: 10px;
        background-color: #334155;
        box-shadow: 0.3vh 0.3vh #334155;
        font-size: 25px;
        border: 2px solid black;
        transition-duration: 0.7s;
        margin-bottom: 3%;
    }
    .quickLinkButton:active {
        transform: translate(0.3vh, 0.3vh);
        box-shadow: none;
    }
    .mainPart {
        background-color: black;
        display: grid;
        grid-template: 8px 55px 15px 1fr 8px / 8px 1fr 8px;
    }
    .socials {
        display: grid;
        grid-template-columns: repeat(5, 1fr 60px) 1fr;
        grid-area: 2 / 2 / 3 / 3;
    }
    .socialIcon {
        background-color: #334155;
        border: 2px solid #5f708f;
        box-shadow: 0.5vh 0.5vh #334155;
        transition-duration: 0.7s;
        padding: 5px;
    }
    .socialIcon:active {
        transform: translate(0.5vh, 0.5vh);
        box-shadow: none;
    }
    .img {
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        max-height: 45px;
    }
    .video {
        display: grid;
        grid-template-rows: 30px 6px 1fr;
        grid-area: 4 / 2 / 5 / 3;
        background-color: #334155;
        border: 2px solid #5f708f;
    }
    .info {
        font-size: 20px;
        padding: 8px;
        background-color: black;
    }
    .videoMedia {
        grid-row: 3 / 4;
    }
    .settings {
        position: absolute;
        width: 95.7%;
        height: 30%;
        background-color: black;
        transition-duration: 1s;
    }
    .menu {
        position: absolute;
        width: 95.7%;
        height: 200px;
        background-color: black; 
    }
    .profile {
        position: absolute;
        width: 95.7%;
        height: 325px;
        background-color: black; 
    }
    .hidden {
        display: none;
    }
    .pos {
        top: 60px;
    }
    .logIn {
        margin: auto;
        align-self: center;
        width: 70%;
        font-size: 20px;
        display: grid;
        grid-template-rows: repeat(7, 17%);
    }
    .signUpForm {
        margin: auto;
        align-self: center;
        width: 70%;
        font-size: 20px;
        display: grid;
        grid-template-rows: repeat(9, 11%);
    }
    .shopPreview {
        grid-area: 5 / 1 / 6 / 2;
        background: black;
        display: grid;
        grid-template-columns: 100px 3.5% 1fr;
        padding: 1%;
    }
    .shopBox, .smallShopBox {
        position: relative;
        background-color: #334155;
        border: 2px solid #5f708f;
    }
    .shopBox {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        grid-column: 3 / 4;
    }
    .smallShopBox {
        display: grid;
        grid-template-rows: 50px 1fr;
        grid-column: 1 / 2;
    }
    .previewBox {
        border: 2px solid #5f708f;
        margin: 5px;
    }
    .shopImg {
        object-fit: cover;
        width: 94%;
        max-height: 100px;
    }
    .smallShopImg {
        object-fit: cover;
        width: 90%;
        height: 100px;
    }
    .longShopImg {
        object-fit: cover;
        width: 82px;
        height: 170px;
    }
    .goShop {
        background-color: #334155;
        box-shadow: 0.3vh 0.3vh #334155;
        border: 2px solid black;
        line-height: 40px;
        font-size: 23px;
        margin: 3px;
    }
    .goShop span {
        position: relative;
        transition: 0.5s;
      }
      .goShop span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        transition: 0.5s;
      }
      
      .goShop:hover span {
        padding-right: 25px;
      }
      
      .goShop:hover span:after {
        opacity: 1;
        right: 0;
      }
    .newsPreview {
        grid-area: 7 / 1 / 8 / 2;
        background: black;
        display: grid;
        grid-template-rows: 50px 1fr;
        padding: 1%;
    }
    .newsBoxScrolling {
        background-color: #334155;
        border: 2px solid #5f708f;
        overflow-y: scroll;
    }
    .newsBox {
        display: grid;
        grid-template-columns: 1fr 140px;
        height: 170px;
        border: 2px solid #5f708f;
        margin: 5px;
    }
    .newsBoxImg {
        object-fit: cover;
        max-height: 170px;
        width: 140px;
    }
/*}*/

   ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  ::placeholder {
    color: #cdd8e8b9;
  }