@media only screen and (max-width: 500px) {
    * {
        font-family: "Trebuchet MS", sans-serif;
        text-align: center;
        color: #cdd8e8;
        border-radius: 15px;
    }

    body {
        background-color: #1e293b;
    }

    main {
        height: 100%;
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-rows: 70px 15px 305px 15px 185px 15px 185px 20px 100px;
    }
    .head {
        padding: 6px;
        display: grid;
        grid-template-columns: 58px 1fr 170px 1fr 58px;
        background-color: black;
    }
    .menu {
        color: black;
        display: grid;
        grid-template-columns: 85px 10px 1fr;
    }
    .menu-text {
        display: flex;
        font-size: 33px;
        align-items: center;    
    }
    .button {
        border-radius: 10px;
        color: black;
        font-size: 40px;
        background-color: #334155;
    }
    .img {
        display: inline-block;
        vertical-align: top;
        max-width: 103%;
        max-height: 103%;
    }
    .info {
        font-size: 22px;
        padding: 8px;
        background-color: black;
    }
}

   ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }